body {
    margin: 0 auto;
    background: black;
}

/* .flex {
    display: flex;
    height: 100vh;
} */

div {
    position: absolute;
    top: 0;
    height: 75%;
    width: 50%;
    background: lightgrey;
}

p {
    font-size: 25pt;
    position: absolute;
    top: -45px;
    right: 0px;
}

iframe {
    position: absolute;
    top: 15px;
    left: 20px;
    height: 95%;
    width: 95%;
}